@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark;
}

/* LIGHT THEME: THE "STABLE ARCHIVE" */
@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #0f172a;
  --color-secondary: #3b82f6; /* Modern Electric Blue */
  --color-accent: #f59e0b; /* Clean Amber */
  --color-neutral: #334155;
  --color-base-100: #ffffff;
  /* Next Level UX: Using a subtle "blue-tinted" gray for base-200 */
  --color-base-200: #f1f5f9;
  --color-base-content: #0f172a;

  /* UX Tweaks */
  --radius-field: 1rem; /* Soft but technical */
  --radius-selector: 1.25rem;
}

/* DARK THEME: THE "COMMAND CENTER" */
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #38bdf8; /* Sky Blue High-Visibility */
  --color-secondary: #60a5fa;
  --color-accent: #fbbf24;
  --color-neutral: #1e293b;
  --color-base-100: #020617; /* Deep Space */
  --color-base-200: #0b1120; /* Slightly lighter for card elevation */
  --color-base-content: #f1f5f9;
}
.font-urbanist {
  font-family: "Urbanist", sans-serif;
}

/* BASE */
@layer base {
  html {
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    background-color: color-mix(in srgb, var(--color-primary) 30%, transparent);
    color: var(--color-base-content);
  }
  
}
/* BASE */

@layer components {
  .container-page {
    @apply max-w-7xl mx-auto px-6 md:px-10;
    width: 100%;
  }

  .section-spacing {
    @apply py-12 md:16 lg:py-20;
  }
}
