@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default, dark;
}
/* LIGHT THEME */
@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #16a34a;    
  --color-secondary: #0ea5e9;    
  --color-accent: #22c55e;
  --color-neutral: #1f2937;
  --color-base-100: #ffffff;
  --color-base-200: #f8fafc;
  --color-base-content: #1f2937;
  
}

/* DARK THEME */
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #CAEB66;     
  --color-secondary: teal;
  --color-accent: #84cc16;
  --color-neutral: #111827;
  --color-base-100: #020617;
  --color-base-200: #020617;
  --color-base-content: #e5e7eb;
}
.font-urbanist{
    font-family: "Urbanist", sans-serif;
}
@layer components {
  .container-page { 
    /* px-4 (mobile), px-8 (tablet), px-10 (desktop) */
    @apply max-w-7xl mx-auto px-4 md:px-8 lg:px-10;
    width: 100%; 
  }

  .section-spacing {
    /* Using padding (py) ensures background colors don't have white gaps */
    @apply py-16 md:py-20 lg:py-24;
  }
}